*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-overflow: hidden;
    overflow-x: hidden;
    
}
body{
    background-color: #CAE5FF;
}

.header{
    background-color: #89BBFE;
    border-bottom-left-radius: 36px;
    border-bottom-right-radius: 36px;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
}
.container{
    max-width: 90%;
    margin: auto;
}
.navbar ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.navbar ul li{
    padding-left: 5vh;
}
.navbar ul li a{
    color: black;
    font-style: none;
    text-decoration: none;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.calender-section img{
    width: 80%;
    height: auto;
    border-radius: 36px;
}
.calender-section{
    margin-top: 5%;
}
.calender-section .text{
    text-align: right;
}
.title-section{
    margin-top: 10vh;
    text-align: center;
}
.title-section h2{
    padding: 1vh;
    font-size: 42px;
}
.todo-list-section img{
    width: 80%;
    height: auto;
    border-radius: 36px;

}
.todo-list-section .text{
    text-align: left;
}
.todo-list-section{
    margin-top: 10vh;
    text-align: right;
}
.todo-list-section .flex{
    justify-content: space-evenly;
}
.footer{
    margin-top: 5vh;
    background-color: #89BBFE;
    border-top-right-radius: 36px;
    border-top-left-radius: 36px;
}
.cylender{
    background: linear-gradient(33deg, #6cacff, #8debff);
    width: 96%;
    height: 92%;
    position: absolute;
    left: 2%;
    z-index: -1;
    border-radius: 720px;
    transform: rotate3d(1, 1, 1, -45deg)
}
.circle{
    background: linear-gradient(33deg, #6cacff, #8debff);
    border-radius: 50%;
    width: 46%;
    height: 46%;
    position: absolute;
    left: 70%;
    z-index: -1;
    border-radius: 720px;
    transform: rotate3d(1, 1, 1, -45deg)
}
.circle-2{
    background: linear-gradient(33deg, #6cacff, #8debff);
    border-radius: 50%;
    width: 46%;
    height: 46%;
    position: absolute;
    left: 0%;
    z-index: -1;
    border-radius: 720px;
    transform: rotate3d(0, 0, 1, -45deg)
}
.about-section-1{
    background-color: rgba(111, 138, 183, 0.59);
    height: 76%;
    border-bottom-right-radius: 720px;
    border-top-right-radius: 720px; 
    margin-top: 5vh;
    padding-top: 15vh;
    padding-bottom: 15vh;
    margin-right: 10vh;
    
}
.about-section-1 .text > div{
    padding-bottom: 5vh;
}
.about-section-1 .text > h3{
    padding-bottom: 5vh;
}
.about-section-1 .text > p{
    padding-bottom: 5vh;
}
.about-section-1 img{
    width: 50%;
    height: auto;
    border-radius: 50%;

}
.about-section-2{
    background-color: rgba(111, 138, 183, 0.59);
    height: 90%;
    border-bottom-left-radius: 720px;
    border-top-left-radius: 720px; 
    margin-top: 15vh;
    padding-top: 15vh;
    padding-bottom: 15vh;
    margin-left: 10vh;
    
}
.about-section-2 img{
    width: 50%;
    height: auto;
    border-radius: 50%;

}
.about-section-2 .text{
    text-align: right;
}
.connection-link{
    display: flex;
    justify-content: space-evenly;
}

i{
    padding-left: 5px;
}
.about-section-2 .text > div{
    padding-bottom: 5vh;
}
.about-section-2 .text > h3{
    padding-bottom: 5vh;
}
.about-section-2 .text > p{
    padding-bottom: 5vh;
}
a{
    color: black;
    font-style: none;
    text-decoration: none
}